---
import Layout from "../../layouts/Layout.astro";
import {contentfulClient } from "../../lib/contentful";
import {BlogPost} from "../index.astro"
import type { Document } from "@contentful/rich-text-types";
import BlogContent from "../../components/blogContent.astro";

interface Props {
  title: string;
  description: string;
  date: string;
  tagging: string[];
  ttr: number;
  content: Document;
  overview: Document;
  
}

export async function getStaticPaths() {
  const { items } = await contentfulClient.getEntries<BlogPost>({
    content_type: "post",
  });

  if (!items) {
    return {
      paths: [],
      fallback: false,
    };
  }

  const pages = items.map((item) => ({
    params: { slug: item.fields.slug },
    props: {
      title: item.fields.title,
      content: item.fields.content,
      overview: item.fields.overview,  
      tags: item.metadata.tags?.map((x) => x.sys.id) ?? [],
      titleImage: item.fields.titleImage?.fields.file.url, 
    },
  }));


  return pages;
}

const { title, tags, content, imageUrl, overview, titleImage } = Astro.props;

---

<Layout>
  <div class="outline lined">
    {imageUrl && (
      <img src={imageUrl} alt="{title}" class="post-image" />
    )}
    <div class="split outline core-width bg">
      <div><h1 class="h1 padded mono">{title}</h1></div>
     <div class="outline">
      {titleImage && (
        <img src={titleImage} alt="{title}" class="post-image" />
      )}
     </div>
    </div>

  </div>
  <div class="outline lined">

    {tags.length > 0 && (
      <div class="bento-tags">
        {tags.map(tag => (
          <span class="tag mono">{tag}</span>
        ))}
      </div>
    )}
    <div class="core-width outline  bg project-split-container">
      <div class="title h4 mono padded">
        Project overview
      </div>
     <div class="description padded">
      <BlogContent body={overview}/>
     </div>
      
    </div>
    <div class="core-width outline bg project-split-container">
      <div class="title h4 mono padded ">
       Project details
      </div>
      <div class="description padded ">
        <BlogContent body={content}/>
      </div>
    </div>
    
  </div>
      



</Layout>