---
import { contentfulClient } from "../lib/contentful";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import type { EntryFieldTypes, Asset } from "contentful";
import Layout from "../layouts/Layout.astro";

// Define the BlogPost interface for typing
export interface BlogPost {
  contentTypeId: "post",
  fields: {
    title: EntryFieldTypes.Text,
    size: EntryFieldTypes.Text,
    content: EntryFieldTypes.RichText,
    overview: EntryFieldTypes.RichText,
    titleImage: EntryFieldTypes.Text, // Image as an asset from Contentful
    tagging: EntryFieldTypes.Text[], // Assuming tagging is a text array of tag names or IDs
    slug: EntryFieldTypes.Text // Add slug field
  }}

// Fetch the blog post entries
const entries = await contentfulClient.getEntries<BlogPost>({
  content_type: "post",
});

// Manually define available tags
const availableTags = ['Web dev', 'UX/UI', 'Design', 'Hobby', 'Physical']; 

---

<Layout>
  <div class="core-width outline">
    <div class="hero padded bg">

      <h1 class="h1 mono text-high"><span class="highlight-red">dan</span>ielius <br> </h1>
      <div class="text-low mono">a full stack UX & UI designer</div>
      <br>
      <div class="text-mid text-max text-high">
        I am a UX and UI designer, general creative who loves tinkering with basically anything, from code to 3d design and printing to painting tiny plastic men.
      </div>
      <br>
      <div class="mono">
        This is work in progress and i got many more things left to do, but this being published and public motivates me to complete these sooner rather than later:
        <ul class="padded">
          <li>Add logo</li>
          <li>Fix mobile footer</li>
          <li>Write up all the projects</li>
          <ul>
            <li>design system</li>
            <li>fukuzatsu calc</li>
            <li>Noxai branding</li>
            <li>tiles</li>
            <li>need to sort out and upload ARG to github</li>
            <li>write up this website itself</li>
          </ul>
          <li>sort out about me section</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="outline">
    <div class="core-width outline h-2rem"></div>
  </div>
  <div class="outline">
    <div class="core-width outline bg">
      <div class="padded">
        <h1 class="h2 mono">Projects</h1>
        <span class="text-mid">And other cool things I made, feel free to use filters below to refine </span>
      </div>


      <div id="tag-filters" class="outline">
        {availableTags.map(tag => (
          <label key={tag} class="tag-filter-option outline mono">
            <input type="checkbox" value={tag} checked/>
            <span>{tag}</span>
          </label>
        ))}
      </div>    
    </div>
  
  </div>
  <div class="outline">
    <div class="core-width outline">
      <!-- Display blog posts dynamically -->
      <div class="bento-container" id="post-container">
        {entries.items.map((item) => {
          const sizeClass = item.fields.size || 'size-small';
          const imageUrl = item.fields.titleImage?.fields.file.url;
          const postTags = item.fields.tagging || [];
          const tagClasses = postTags.map(tag => tag.replace(/\s+/g, '-').toLowerCase()).join(' ');
          const slug = item.fields.slug; // Fetch the slug from Contentful
      
          return (
            <a href={`/posts/${slug}`} key={slug} class={`bento-item outline ${sizeClass} ${tagClasses}`} 
                style={imageUrl ? `background-image: url(${imageUrl});` : ''}
                data-tags={postTags.join(',')}>  {/* Link to individual post using slug */}
              
                  <svg class="arrow" xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34">
<path class="svg-arrow-tail" d="M4 14.9569H20L22 16.9569L20 18.9569H4V14.9569Z"/>
<path class="svg-arrow-top" d="M18.1716 4.3L26.6569 12.7853L23.8284 15.6137L15.3431 7.12843L18.1716 4.3Z"/>
<path class="svg-arrow-bot" d="M15.3431 26.7853L23.8284 18.3L26.6568 21.1284L18.1716 29.6137L15.3431 26.7853Z"/>
<path class="svg-arrow-mid" d="M25.1716 16.9569L28 14.1284L30.8284 16.9569L28 19.7853L25.1716 16.9569Z"/>
</svg>
                <div class="bento-info-card">
                  <h2 class="h5 mono">{item.fields.title}</h2>
                  {postTags.length > 0 && (
                  <div class="bento-tags">
                    {postTags.map(tag => (
                      <span key={tag} class="tag mono">{tag}</span>
                    ))}
                  </div>
                )}
                </div>
        

              
            </a>
          );
        })}
      </div>
    </div>
  </div>

</Layout>
